/* 背景色 */
@background-color:#f2f2f2;

/* 栅格列数 */
@grid-length:12;

/* 默认字体样式 */
@font-family:Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;

/* 盒子模型 */
.box(@box-sizing:border-box){
  -webkit-box-sizing: @box-sizing;
  -moz-box-sizing: @box-sizing;
  box-sizing: @box-sizing
}

body{
  font-family: @font-family;
  font-size: 14px;
  color: #333333;
  // background: #333333
}