/* 背景色 */
@background-color: #f1e9e9;

/* 边框颜色 */
@theme-color: #f96e57;

/* 栅格列数 */
@grid-length: 12;

/* 默认字体样式 */
@font-family: Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;

/* 导航默认高度 */
@nav-height: 50px;

/* 导航颜色 */
@nav-color: #2f4056;


/* 盒子模型 */
.box(@box-sizing:border-box) {
  -webkit-box-sizing: @box-sizing;
  -moz-box-sizing: @box-sizing;
  box-sizing: @box-sizing;
}

/* 盒子阴影 */
.boxshow(@showSize){
  box-shadow: 0 2px 4px rgba(0,0,0,.12);
}

/* 边框样式 */
.border(@border-direction,@border:1px solid #e6e6e6)
  when
  (@border-direction = all) {
  border: @border;
}

.border(@border-direction,@border:1px solid #e6e6e6)
  when
  (@border-direction = left) {
  border-left: @border;
}
.border(@border-direction,@border:1px solid #e6e6e6)
  when
  (@border-direction = rigth) {
  border-rigth: @border;
}
.border(@border-direction,@border:1px solid #e6e6e6)
  when
  (@border-direction = top) {
  border-top: @border;
}
.border(@border-direction,@border:1px solid #e6e6e6)
  when
  (@border-direction = bottom) {
  border-bottom: @border;
}

/* 文字垂直居中 */
.text-vertical-align(@height){
  height: @height;
  line-height: @height;
}

/* 三角形 */
.trangle(@color,@direction) when (@direction = top){
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 6px solid @color;
  border-left: 6px transparent solid;
  border-right: 6px transparent solid;
}
.trangle(@color,@direction) when (@direction = bottom){
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid @color;
  border-left: 6px transparent solid;
  border-right: 6px transparent solid;
}
.trangle(@color,@direction) when (@direction = left){
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 6px solid @color;
  border-top: 6px transparent solid;
  border-bottom: 6px transparent solid;
}
.trangle(@color,@direction) when (@direction = right){
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid @color;
  border-top: 6px transparent solid;
  border-bottom: 6px transparent solid;
}

/* 公共样式 */
*{
  margin: 0;
  padding:0;
}

body {
  font-family: @font-family;
  font-size: 14px;
  color: #333333;
}

a{
  text-decoration: none;
}

ul li{
  list-style-type: none;
}